body {
    background-color: #c5e5e9;
    color: #2d2c2c;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.react-chatbot-kit-chat-container {
    position: relative;
}

.react-chatbot-kit-chat-inner-container {
    width: 390px;
    height: 100%;
}

.react-chatbot-kit-chat-header {
    color: #303AAA;
    height: 63px;
    left: 46px;
    top: 115px;
    direction: rtl;
    background-color: #F5F3F1;
}

.react-chatbot-kit-chat-input-container {
    display: none;
}

.react-chatbot-kit-chat-message-container {
    padding: 0;
    background-color: #F5F3F1;
    height: 700px;
}

.react-chatbot-kit-chat-input {}

.react-chatbot-kit-chat-input-form {}

.react-chatbot-kit-chat-input::placeholder {}

.react-chatbot-kit-chat-btn-send {}

.react-chatbot-kit-chat-btn-send-icon {}

.react-chatbot-kit-chat-bot-message-container {}

.react-chatbot-kit-chat-bot-avatar-container {}

.react-chatbot-kit-chat-bot-avatar-icon {}

.react-chatbot-kit-chat-bot-avatar-letter {}

.react-chatbot-kit-chat-bot-message {}

.react-chatbot-kit-chat-bot-message-arrow {}

.react-chatbot-kit-chat-bot-loading-icon-container {}

.chatbot-loader-container {}

#chatbot-loader #chatbot-loader-dot1 {}

#chatbot-loader #chatbot-loader-dot2 {}

#chatbot-loader #chatbot-loader-dot3 {}

.react-chatbot-kit-error {}

.react-chatbot-kit-error-container {}

.react-chatbot-kit-error-header {}

.react-chatbot-kit-error-docs {}

.card {
    width: 214px;
    height: 282px;
    border: 2px solid #303AAA;
    border-radius: 20px;
    background-color: #f5f3f1;
    box-sizing: border-box;
    left: 55px;
    margin-left: 11px;
    word-wrap: break-word;
    padding-top: 20px;
}

.text-in-card {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 93.6%;
    text-align: right;
    color: #303AAA;
}

.example {
    width: 301px;
    height: 64px;
    border: 2px solid #303AAA;
    border-radius: 15px;
    background-color: #f5f3f1;
    box-sizing: border-box;
    word-wrap: break-word;
    margin-top: 16px;
    word-wrap: break-word;
    font-family: 'Noto Sans', sans-serif;
    color: #303AAA;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /** put box in the middle of the container */
    margin-left: auto;
    margin-right: auto;
}

.example-text {
    font-family: 'Noto Sans', sans-serif;
    color: #303AAA;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}